* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

.background {
  width: 100%;
  height: 100vh;
  font-family: sans-serif;
  background: linear-gradient(#141e30, #243b55);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title {
  font-size: 2.5rem;
  padding-top: 25px;
  color: #05e9f4;
  font-weight: 900;
}
.container {
  height: 100vh;
  display: flex;
  place-items: center;
  width: 100%;
  padding: 0 50px;
}

.flex {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
}
.card-number {
  width: 400px;
  height: 400px;
  margin-right: 10px;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}
.card-string {
  width: 400px;
  height: 400px;
  margin-right: 10px;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}
.card-hash {
  width: 400px;
  height: 400px;
  margin-right: 10px;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.card-blank {
  width: 400px;
  height: 400px;
  margin-right: 10px;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.card-button button {
  padding: 10px 15px;
  color: #64dae0;
  border-color: #03e9f4;
  background-color: transparent;
  border-radius: 7px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.card-button button:hover {
  background: #03e9f4;
  color: #fff;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4;
}

.card-header {
  color: #02878e;
  font-size: 0.8rem;
  text-shadow: 2px 3px black;
}

.card-input input {
  color: white;
  background-color: transparent;
  border-color: #03e9f4;
  padding: 10px 10px;
  border-radius: 25px;
}

.card-input input:focus {
  outline: none;
}
.card-input input::placeholder {
  color: #233a54;
  opacity: 1;
}
.card-desc p {
  color: #233a54;
  font-style: italic;
}
.card-result {
  color: white;
  font-style: italic;
}
